* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, sans_serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #cfdef3;
}

.wrapper {
  /* background-image: url('../assets/blue_blur.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; */
  background-color: #ffffff;
padding: 40px;
border-radius: 20px;
text-align: center;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.avatar {
  display: flex;
  width: 100px;
  height: 100px;
  background:#022b50;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  justify-content: center;
  align-items: center; 
}

.avatar img{
  width: 50px;
  height: 50px;
}

.input-box {
  width: 100%; /* Use full width of wrapper */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
}

.input-field {
  position: relative;
  width: 100%; /* Use full width of input box */
  margin-bottom: 20px; /* Space between fields */
}

.input-field input {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(152, 220, 243);
  outline: none;
  color: #004e92;
  font-size: 16px;
  padding: 13px 13px 13px 40px;
  border-radius: 15px;
  background: rgb(152, 220, 243);
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.input-field input::placeholder {
  color: #b19191;; /* Placeholder color */
}

.input-field i {
  position: absolute;
  left: 15px; /* Positioned to the left */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  font-size: 20px;
}
/* .register
    {
        color: white;
        text-decoration: none;
    } */
.btn {
  width: 80%;
  padding: 10px;
  background: #022b50;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all .3s;
}

.btn:hover {
  background: #00376b; /* Darker shade on hover */
}

.p {
  color: black;
  font-size: 14px;
  margin: 20px;
}
.register {
  margin-left: 5px;
  color: #004e92;
  text-decoration: none;
}
.register:hover {
  text-decoration: underline;
}