body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;

  background: #e0e1dd;

  color: #333;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.profile-container {
  width: 50%;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.backHome{
  padding: 5px 10px;
  border-radius: 15px;
  color: #222e4e;
  width: max-content;
  margin:10px auto;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #ccc;
  margin-top: 20px;
  
}

.upload-btn {
  margin-top: 10px;
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.user-details{
  padding: 20px;
  border-radius: 10px;
  background: #161f38;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.profile-info {
  text-align: left;
  margin-left: 10%;
}

.profile-info h2 {
  margin: 0;
  color: #90e0ef;
  font-size: 24px;
}

.profile-info p {
  margin: 5px 0;
  color: #555;
}



.post-content{
  background: #d2d5db;
  padding: 5px;
  border-radius: 5px;
}
.post-title{
  border-bottom:5px solid #161f38;
  width: 30%;
  margin: 0 auto;
  
  padding: 1px;
}

.saved-posts {
  margin-top: 20px;
  
}

.saved-posts h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.saved-posts ul {
  list-style-type: none;
  padding: 0;
}

.saved-posts ul li {
  padding: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.saved-posts ul li a {
  text-decoration: none;
  color: #007bff;
}

.saved-posts ul li a:hover {
  text-decoration: underline;
}
